body {
    font-family: 'Courier New', Courier, monospace!important;
    background-color: #212121;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.mode-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mode-selector input[type="radio"] {
    display: none;
}

.mode-selector label {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #555555;
    margin: 0 10px;
}

.mode-selector label:hover {
    background-color: #777777;
}

#url-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #444444;
    color: #ffffff;
    margin-bottom: 20px;
}

#download-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: #ffffff;
    cursor: pointer;
}

#download-btn:hover {
    background-color: #ff7043;
}
